{% extends 'base.html' %}
{% load static%}
{% block content %}
    <main role="main">
      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">그림 영어!</h1>
          <p class="lead text-muted">
            Something short and leading about the collection below—its contents,
            the creator, etc. Make it short and sweet, but not too short so
            folks don't simply skip over it entirely.
          </p>
          <p>
            <a href="#" class="btn btn-primary my-2">Main call to action</a>
            <a href="#" class="btn btn-secondary my-2">Secondary action</a>
          </p>
        </div>
      </section>
<p><h1>&nbsp&nbsp&nbsp&nbsp&nbsp '알다'의 9가지 표현</h1></p>
      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img
                  class="card-img-top"
                  src="{% static 'realize.png' %}"
                  alt="likelionlogo"
                />
                <div class="card-body">
                  <p class="card-text">
                    <h3>Realize</h3>
                    <h4>'(마침내 머릿속으로) 알게되다'</h4>

                  </p>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <div class="btn-group">
                      <button
                        type="button"
                        class="btn btn-sm btn-outline-secondary"
                      >
                        View
                      </button>
                      <button
                        type="button"
                        class="btn btn-sm btn-outline-secondary"
                      >
                        Edit
                      </button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img
                  class="card-img-top"
                  src="{% static 'findout.webp' %}"
                  alt="likelionlogo"
                />
                <div class="card-body">
                  <p class="card-text">
                    <h3>Find out</h3>
                    <h4>'(몰랐는데) 알아 냈다!'</h4>

                  </p>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <div class="btn-group">
                      <button
                        type="button"
                        class="btn btn-sm btn-outline-secondary"
                      >
                        View
                      </button>
                      <button
                        type="button"
                        class="btn btn-sm btn-outline-secondary"
                      >
                        Edit
                      </button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
            {% for portfolio in portfolios.all %}
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img
                  class="card-img-top"
                  src="{{ portfolio.image.url }}"
                  alt="The kiss"
                />
                <div class="card-body">
                  <h4>{{portfolio.title}}</h4>
                  <p class="card-text">
                    {{ portfolio.summary }}
                  </p>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <div class="btn-group">
                      <button
                        type="button"
                        class="btn btn-sm btn-outline-secondary"
                      >
                        View
                      </button>
                      <button
                        type="button"
                        class="btn btn-sm btn-outline-secondary"
                      >
                        Edit
                      </button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </main>
    {% endblock %}
